* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: green;
}
.page-header {
  background: red;
  min-height: 30em;
}
section {
  min-height: 30em;
}
section h2 {
  text-align: right;
}
