<section class="main-section" id="connect-section">
	<header class="section-header">
		<h2> Connect </h2>
	</header>
	<div class="contacting-lexi container-middle">
		<div class="connect__email">
			<h3>Email</h3>
			<p>
				<a class="apply-others">lexilewtan@gmail.com</a>
				<a class="apply-dev">lexi@hired.com</a>
			</p>
		</div>

		<div class="connect__hired">
			<h3>Contact me about Hired</h3>
			<p>
				<a class="apply-others">Looking for a Job</a>
				<a class="apply-dev">Hire Top Tech Talent</a>
			</p>
		</div>
	</div>
</section>