<section class="main-section" id="follow-section">
	<header class="section-header">
		<h2> Follow </h2>
	</header>
	


	<div class="half">
		<div class="container-inner">
			
			<div class="follow-lexi medium half">
				<h1>Medium</h1>
				<p><a href="https://medium.com/@lexilewtan">Medium</a></p>
			</div>
			
			<div class="half">
				<h1>Twitter</h1>
				<p><a href="https://twitter.com/lexilewtan" class="twitter-follow-button" data-show-count="false">Follow @lexilewtan</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</p>
			</div> 
		</div>
	</div>

	<div class="half">	
		<form class="tiny-letter" action="https://tinyletter.com/lexilewtan" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/lexilewtan', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
			<fieldset>
				<p><label for="tlemail">Subscribe to my TinyLetter, <span class="tiny-letter-name">NYC TECH JOBS</span></label></p>
				<p><input class="input-tiny-type-email" type="text" name="email" id="tlemail" placeholder="your email" /></p>
				
				<input type="hidden" value="1" name="embed"/>
				<input class="tiny-letter-button" type="submit" value="Subscribe" />
			</fieldset>
			<p class="tiny-letter-promo"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter.</a></p>
		</form>
	</div>
	

</section>