<header class="page-header">
	<div class="bar">
		<div class="announcements">
{% capture announcements %}
  {% include announcements.md %}
{% endcapture %}
{{ announcements | unindent | markdownify }}
		</div>
	</div>
	<h1 class="personal-name"> Lexi Lewtan</h1>
	<h3 class="personality"> techno-romantic </h3>
	<nav class="bar jump-button-bar">
		<div class="container-outer">
		<ul>
			<li class="jump-button"> <a href="#about-section">About</a></li>
			<li class="jump-button"> <a href="#mission-section">Mission</a></li>
			<li class="jump-button"> <a href="#follow-section">Follow</a> </li>
			<li class="jump-button"> <a href="#work-section">Work</a></li>
			<li class="jump-button"> <a href="#connect-section">Connect</a></li>
		</ul>
		</div>
	</nav>
</header>