<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

  		<div class="page-header">
  			<h1> {{ site.name }} </h1>
  			<div class="jump-button"> <a href="#about-section">ABOUT</a></div>
  			<div class="jump-button"> <a href="#mission-section">MISSION</a></div>
  			<div class="jump-button"> <a href="#follow-section">FOLLOW</a> </div>
  			<div class="jump-button"> <a href="#work-section">WORK</a></div>
  			<div class="jump-button"> <a href="#connect-section">CONNECT</a></div>
  		</div>

          {{ content }}
    </body>
</html>
